.read-more {
  font-size: 1rem;
  border-bottom: 2px solid var(--primary-color);
  color: var(--heading-color);
  transition: 0.3s ease-in-out;
  font-weight: 600;
  display: inline-block;
  text-transform: capitalize;
}
a.read-more {
  text-decoration: auto;
}
a.read-more:hover {
  color: var(--primary-color);
}
/* start about__us */
section {
  padding: 100px 0;
  font-family: Jost-Light;
  font-weight: 1000;
}
.section__ab--item {
  max-width: 700px;
  margin: 0 auto;
  text-align: center;
}
.pri-title {
  font-size: 1rem;
  text-transform: uppercase;
  color: var(--secondary-color);
  font-size: 20px;
}
.sd-title {
  font-size: 2.5rem;
  font-weight: 600;
  text-transform: capitalize;
  color: var(--heading-color);
  line-height: 48px;
  font-family: Jost-Regular;
  font-weight: 700;
}
.para-ab {
  color: var(--font-color);
  margin: 1rem 0;
  line-height: 38px;
  font-size: 1.2rem;
}

/* end about__us */
