header{
    background-color: tomato;
}
.navBarHeader .navbar-toggler{
    background-color: var(--primary-color);
}
.navBarHeader .navbar-toggler .navbar-toggler-icon{
    height: auto;
    width: auto;
    display: block;
    padding: 4px 5px;
    font-size: 1.5rem;  
    color: white;
}
.theme{
    top: 0px;
    right: 0px;
    font-size: 23px;
}
.navBarHeader .navbar-toggler.collapsed .navbar-toggler-icon .fa-bars{
    display: block;
}
.navBarHeader .navbar-toggler.collapsed .navbar-toggler-icon .fa-times{
    display: none;
}
.navBarHeader .navbar-toggler .navbar-toggler-icon .fa-bars{
    display: none;
}
.navBarHeader .navbar-toggler .navbar-toggler-icon .fa-times{
    display: block;
    padding: 0px 3px;
}
.header-nav .nav-link, .header-nav .dropdown-item{
    position: relative;
    font-weight: 550;
    margin-right: 10px;
    font-size: 1.2em;
    z-index: 10;
    color: var(--heading-color);
    transition: all 0.5s;
}
.header-nav .nav-link{
    padding: 14px 0px;
}
.header-nav .nav-link::before, .header-nav .dropdown-item::before{
    content: '';
    position: absolute;
    width: 0%;
    height: 2px;
    bottom: 10px;
    left: 5px;
    border-radius: 5px;
    background-color: var(--primary-color);
    transition: all 0.5s;
}
.header-nav .nav-link:hover{
    color: var(--primary-color);
}
.header-nav .nav-link:hover:before{
    width: 85%;
}
.header-nav .nav-link .fa-chevron-down{
    font-size: 0.6em;
}
.header-nav .dropdown-menu{
    left: -70px;
}
.header-nav .dropdown-menu::after{
    content: '';
    position: absolute;
    height: 20px;
    width: 20px;
    left: 40%;
    top: -10px;
    border-top: solid 1px black;
    border-left: solid 1px black;
    background-color: var(--bg-color);
    transform: rotate(45deg);
    z-index: -1;
}

@media (max-width: 992px) {
    .theme {
        top: 12px;
        right: 59px;
        font-size: 23px;
        position: absolute;
    }
    .header-nav .dropdown-menu::after{
        left: 47%;
        top: 49.5px;
        z-index: 0;
    }
}