.item {
  background-color: var(--filter-bg);
  padding: 100px 0;
}
.area-box {
  padding: 40px 30px;
  transition: all 0.5s ease 0s;
  border-radius: 20px;
  background-color: var(--bg-color);
  margin-bottom: 30px;
  line-height: 40px;
}
.area-box:hover {
  background-color: var(--filter-bg);
}

.icon span i {
  font-size: 30px;
  color: var(--primary-color);
  padding-bottom: 30px;
}
.area-box p{
  color: var(--font-color);
}
.item a {
  color: var(--heading-color);
  text-decoration: none;
  background-color: transparent;
  font-weight: 600;
}
.item a.title-head {
  font-size: 24px;
  font-weight: 600;
  color: var(--heading-color) !important;
}
.title-head:hover,
a:hover {
  color: var(--primary-color);
  text-decoration: none;
}
