.red-context{
    font-size: 18px;
    font-weight: 500;
    font-family: Jost-Regular;
    text-transform: uppercase;
    line-height: 2em;
    letter-spacing: 1px;
    color: var(--secondary-color);
}

.black-context{
    font-size: 40px;
    font-weight: 600;
    line-height: 48px;
    text-transform: capitalize;
    font-family: Jost-Medium;
    color: var(--heading-color);
}

.gray-content{
    font-family: Jost-Regular;
    font-size: 1.2em;
    line-height: 28px;
    color: var(--font-color);
}