.form-control {
  width: 455px;
  height: 60px;
  padding-left: 20px;
  padding-right: 20px;
  font-size: 16px;
  margin-right: 10px;
}
.updated__mail {
  display: flex;
  justify-content: center;
  align-items: center;
}
.email-input {
  border-radius: 10px;
}
.btn-cus {
  padding: 14px 48px;
}
.updated {
  margin: 103px 0;
}
@media screen and (max-width: 767px) {
  .updated__mail {
    flex-direction: column;
    width: 100%;
  }
  .form-control{
    margin-right: 0px;
  }
  .email-input {
    width: 100%;
  }
  .btn-cus {
    width: 100%;
    margin-top: 15px;
  }
}
